/* font
	- default : 'Noto Sans Korean'
	- h1 : 'GeekbleMalang2'
	- textareaResult : 'intel One Mono font'
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
	font-family: 'GeekbleMalang2WOFF2';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* 스타일 초기화
-------------------------------------------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

body {
	font-family: "Noto Sans KR", sans-serif;
}

::selection {
	background: var(--primary-color);
	color: #fff;
}

/* color
-------------------------------------------------- */
:root {
	--primary-color: #00b0f0;
	--secondary-color: #13678a;
	--text-color: white;
}

/* title
	- h1
	- h2
	- h3
-------------------------------------------------- */
h1.title {
	font-family: 'GeekbleMalang2WOFF2';
	font-size: 3rem;
	font-weight: normal;
	color: var(--primary-color);
}

h2.title {
	font-size: 2rem;
	font-weight: 800;
	color: var(--secondary-color);
}

h3.title {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--secondary-color);
}

/* button
	- default button
	- hover button
	- disabked button
-------------------------------------------------- */
button {
	border: none;
	background: none;
	width: 100px;
	height: 100px;
	background-color: var(--primary-color);
	border-radius: 2rem;
	padding: 0.5rem 1rem;
	font-weight: 700;
	color: var(--text-color);
	transition: all 0.1s ease-in;
	cursor: pointer;
}
button:hover {
	background-color: var(--secondary-color);
}

button:disabled {
	background-color: gray;
	pointer-events: none;
}
button:disabled:hover {
	cursor: not-allowed;
}

/* div.popup
	- default
	- success
	- failure
-------------------------------------------------- */
div.popup {
	background-color: var(--secondary-color);
	padding: 8px;
	color: var(--text-color);
}

div.popup.success {
	background-color: greenyellow;
	color: black;
}

div.popup.failure {
	background-color: red;
}

/* textarea
	- label
	- textarea
-------------------------------------------------- */
label {
	color: var(--primary-color);
}

textarea {
	resize: none;
	border: 2px solid var(--secondary-color);
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}

textarea::-webkit-scrollbar {
	width: 1rem;
}
textarea::-webkit-scrollbar-thumb {
	height: 5rem;
	background: var(--primary-color);
	background-clip: padding-box;
	border: 2px solid transparent;
	border-radius: 1rem;
	padding: 2px;
}
textarea::-webkit-scrollbar-track {
	background: none;
}
textarea::-webkit-scrollbar-button {
	height: 8px;
	background: none;
	cursor: default;
}

/* div
	- textareaResult
-------------------------------------------------- */
div.textareaResult {
	border: 2px solid var(--secondary-color);
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	font-family: 'intelone-mono-font-family-regular';
}